.map_window {
    
    /*text-align:center; */

    #map-canvas{
        height:600px; 
        background-color:#fff;
        width:60%; 
        margin:0 auto; 
    }
    
}

.painting_window {

    .container {
        height:400px;
        background-color:#fff; 
        width:60%; 
    }
}